<p>本作品基于 <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> 协议发布</p>
<p>"Rails"、"Ruby on Rails" 和 Rails 标志是 David Heinemeier Hansson 的注册商标。版权所有。</p>
